*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


a{
 text-decoration: none !important;
 color: rgb(110, 108, 108)  !important;
}



#content{
 height: 100vh;
 background-image: linear-gradient(to bottom right,#2dd7cc, #9a3fb0) ;
 display: flex;
 
 justify-content: center;
 align-items: center;
 background-size: cover;
}
 

#side-content{
 height: 30rem;
 width: 13rem;
 background-color: white;
 border-radius: 10px;
 margin-right: 10px;
 text-align: center;
 
}



#side-content .img{
 
 text-align: center;
 
}

#side-content .img img{
 height: 120px;
 width: 100px;
 border-radius: 50%;
 margin-top: 20px;
 
 
}

#side-content h5{
 color: #2c3e4b;
 font-family:  Arial;
 margin: 15px 0;
}

#side-content h5 span{
 color: #7a7e81;
 font-family:  Arial;
 font-weight: 100;
 letter-spacing: 2px;
}

#side-content p{
 display: inline;
 font-family: Arial;
 font-size: smaller;
 padding: 7px 10px;
 background-color: #e8eaf2;
 border-radius: 50px;
 color: #56585b;

}

#side-content .icons{
 margin-top: 20px;
 font-size: 18px;
 color: rgb(78, 78, 78);

}

#side-content .links {
 display: block;
 height: 6rem;
 text-align: center;
 background-color:#e8eaf2;
 padding: 10px 0 25px 0;
 margin-top: 50px;
}

#side-content .links ul  a:hover{
color: #1556c9 !important;
}


#side-content .links ul li{
 list-style: none;
 margin-top: 8px;
 font-weight: 100;
 font-size: small;
 color:rgb(110, 108, 108);


 
}

/* #side-content button{
 margin-top: 20px;
 background-image: linear-gradient(to bottom right,#1556c9,#1a61c8);
 border: none;
 padding: 8px 15px ;
 border-radius:50px;
 color: white;
 cursor: pointer;
 transition: all .3s;
}

#side-content button:focus {
 outline: none;
}

#side-content button:hover {
 background-color:rgb(5, 84, 158) ;
} */





#main-content{
 height: 30rem;
 width: 28rem;
 background-color: #f6f8fa;
 border-radius: 10px;
}

#main-content .about{
 height: 10rem;
 background-color: white;
 border-radius: 10px 10px 0 0;
}

#main-content .about hr{
 
 width: 28px;
 margin-top: 20px;
 margin-left: 15px;
 border: 1.8px solid blue;
 
}

#main-content .about .title{
 height: 2rem;
 display: flex;
 justify-content: space-between;
 position: relative;

}

#main-content .about .title h4{
 padding: 15px;
 color: #333c4c;

}
#main-content .about .title i{
 
 position: absolute;
 margin: 15px 20px 0px 0px;
 height: 1.55rem;
 width: 1rem;
 font-size: x-large;
 color:#213b68 ;
 position: relative;
 background-color: transparent;
 border-radius:20px ;
 transition: .3s all;
 cursor: pointer;
 
 

}


#main-content .about .title i:hover{

 display: flex;
 align-items: center;
 left: 0;
 width: 12rem;
 background-image: linear-gradient(to bottom right,#1556c9,#1a61c8);;
 color: white;

}

#main-content .about .title  i .menue{

 display: flex;
 align-items: center;
 height: inherit;
 width: inherit;
 font-size: 12px;
 color: transparent;
 z-index: 1;




}

#main-content .about .title  i .menue:hover{

 display: flex;
 align-items: center;
 height: inherit;
 width: inherit;
 font-size: 12px;
 
 animation-name:men ;
 animation-delay: .2s;
 animation-fill-mode: forwards;

}




#main-content .about .title  i .menue span{
 z-index: 5;
 cursor: pointer;
 margin-left: 10px;
 

}




@keyframes men {
 0%{
  opacity: 0;

 }

 80%{
  opacity: .5;
  z-index: -1;
 }

 100%{
  opacity: 1;
  color: white;
 }
}



.fa-arrow-alt-circle-left:before {


 content: "\f359";
 position: absolute;
 right: 0;
 

 
}

#main-content   nav{
 display: none;
}






#main-content .about  p{
 font-family: Arial, Helvetica, sans-serif;
 margin-top: 17px;
 padding: 0 15px;
 line-height: 20px;
 color: rgb(122, 127, 129);
 font-size: small;
 

}

#main-content .descript h5{

 margin: 30px 15px 20px 15px;
 color: #39424d;

}


#main-content .descript .description_details{

 
 display: flex;
 flex-wrap: wrap;

 margin-left: 8px;
 margin-right:8px ;
 

}

#main-content .descript .description_details div{
 display:flex;
 background-color:white;
 height: 4.5rem;
 width: 12rem ;
 margin: 10px 7px ;
 border-radius: 5px;

}

#main-content .descript .description_details div i{
 font-size: 25px;
 margin: 20px 5px;
 color: #2a39eb;
}

#main-content .descript .description_details div p{
 font-family: Arial, Helvetica, sans-serif;
 font-size: x-small;
 margin: 15px 5px;
 color: #8d8e97;

 
}

#main-content .descript .description_details div p span{
 
 font-size: 13px;
 font-weight: bold;
 line-height: 25px;
 color: #536068;
 
 
}

/* ------2nd-------- */


#main-content .about nav{
 display: flex;
 margin-top: 50px;
 cursor: pointer;
}

#main-content .about nav p:hover{
 color: #1556c9;
}


#main-content .description {

 height: 18rem;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
  overflow-y: scroll; 


}

#main-content .description .port_img {


 margin-top: 25px;
 text-align: center;
 color: #8d8e97;
 

} 



#main-content .description .port_img img{
 height: 6rem;
 width:10rem ;
 border-radius: 20px;
 cursor: pointer;
}

/* -----3rd----- */

#main-content .us{
 height: 5rem !important;
}

#main-content .experience{
  
 font-family: Arial, Helvetica, sans-serif;
}

#main-content .experience h6{
 display: inline-block;
 margin-top: 20px;
 margin-left:20px;
 font-family:Arial, Helvetica, sans-serif;
 color: #333c4c;
}

#main-content .experience h6 i{
 margin-right: 5px;
 color: #1556c9;
}

#main-content .ex-description {
 margin: 30px;
}

#main-content .ex-description h5{
 color: #333c4c;
 font-size: 12px;
 font-weight: bold;
 margin: 0;
 
}

#main-content .ex-description h6{
 color: #333c4c;
 margin-top: 2px;
 font-size: 10px;
 font-weight: bold;
 margin: 0;
}

#main-content .ex-description p{
 margin-top: 10px;
 font-size: small;
 font-weight: lighter;
 letter-spacing: 1px;
 color: #6a6b6e;
}

#main-content .skills h5{
 
 margin-top: 20px;
 margin-left:20px;
 color:#333c4a;
 
}

#main-content .skills .skill-limit:first-of-type{

 margin-top: 20px;
}


#main-content .skills .skill-limit{
 margin-top: 10px;
 margin-left: 30px;
 height: 1.4rem;
 background-color: #c9cad1;
 width: 11rem;
 border-radius: 50px;
}

#main-content .skills .skill-limit:nth-of-type(1) div{
 width: 95%;

}
#main-content .skills .skill-limit:nth-of-type(2) div{
 width: 90%;

}
#main-content .skills .skill-limit:nth-of-type(3) div{
 width: 70%;

}
#main-content .skills .skill-limit:nth-of-type(4) div{
 width: 60%;

}
#main-content .skills .skill-limit:nth-of-type(5) div{
 width: 70%;

}


#main-content .skills .skill-limit div{
 display:flex;
 justify-content: space-between;
 height: 1.4rem;
 background-color: #1a61c8;
 
 border-radius: 50px;
}

#main-content .skills .skill-limit div small{
 font-size: 12px;
 font-family: Arial, Helvetica, sans-serif;
 margin: 4px 4px;
 color:white;

}


/* ---------------------------responsive-------------------------- */



@media only screen and (max-width: 700px) {

 


 #content{
  flex-direction: column;
  height: initial !important;

  padding: 20px 0;
  

 }

 #main-content{
  height: initial !important;
  width:13rem;
  margin-top: 20px;
  
  
 }

 

 #main-content .saw .descript .description_details{
  height: initial !important;
 }

 #main-content .about{
  height: 8rem;
  border-radius: 0;
 }
 #main-content .about p{
  padding-top: 10px;
 }


 #main-content .about .title{
  display:none; 
 }
 
 #main-content  nav{
  display:flex; 
  margin-top: 0px;
  background-color: white;
  border-top-right-radius:10px ;
  border-top-left-radius:10px ;

 }

 

 #main-content   nav button{
  border: none;
  padding: 0;
  font-size: 15px;
  outline: none;
  margin-left: 45px;

 }


 

 #main-content .skills .skill-limit{
  
  margin-left: 15px;
  
 }

 #main-content .portfolio .description{
  height: initial;
 }

 #main-content .portfolio .about{
  height: 2rem;
  margin-bottom: 20px;
 }
 #main-content .portfolio .about nav{
  margin-top: 0;
 }


 #main-content .resume .about{
  display: none;
 }

 #main-content .resume .experience{
  margin-bottom: 15px;
 }




 hr{
  display: none !important;
 }

 #side-content{
  margin: 0;
 }

 
}





 








